<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="ISO-8859-1">
     <title>Home -CodeJava</title>
     <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
</head>
<body align ="center">
  
    <h1 align ="center">Make Your Life Easier By Navigator</h1>
   
      <img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#"></a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="collapse navbar-collapse" id="navbarColor02">
		      <ul class="navbar-nav me-auto">
                  <!--Home-->
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>

                  <!--Covid-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
                  </li>
                  
                  <!--Google Map-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
                  </li>
                  
                  <!--By Air-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.air.irctc.co.in/">By Air</a>
                  </li>
                  
                  <!--By Train-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.irctc.co.in/nget/train-search">By Train</a>
                  </li>
                  
                  <!--By Bus-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.railyatri.in/bus-booking">By Bus</a>
                  </li>
                      
                  <!--Logout-->    
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Logout</a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>

          <br>
          
          <form>
            <div class="container">
            	<table>
					<tr>
	            			<!--Andhra Pradesh-->
			              	<a href='/andhra'>
	              				<button class="btn btn-light" type="submit" onclick="">
	                					<img th:src="@{/images/imad.jpg}" width="200px" height="200px" alt="Andhra"><br>
	                					<h6><a th:href="@{/andhra}">Andhra Pradesh</a></h5>
	              				</button>
			              	</a>
					</tr>
					
					&nbsp;&nbsp;&nbsp;&nbsp;
					
					<tr>
		            		<!--Delhi-->
		            	      <a href='placesDelhi'>
	      	        			<button class="btn btn-light" type="submit" onclick="">
	            	    				<img th:src="@{/images/imad3.jpg}" width="200px" height="200px" alt="Delhi"><br>
	                					<h6><a th:href="@{/placesDelhi}">Delhi</a></h5>
	              				</button>
	            			</a>
					</tr>
					
					&nbsp;&nbsp;&nbsp;&nbsp;
					
					<tr>            
						<!--Punjab-->            
				  		<a href='placesPb'>
	      		        		<button class="btn btn-light" type="submit">
	                					<img th:src="@{/images/imad4.jpg}" width="200px" height="200px" alt="Punjab"><br>
				                		<h6><a th:href="@{/placesPb}">Punjab</a></h6>
	              				</button>
			  			</a>
					</tr>
					
					&nbsp;&nbsp;&nbsp;&nbsp;
					
					<tr>
						<!--Tamil-->
		                   	<a href='tamil'>
	      		        		<button class="btn btn-light" type="submit">
		                				<img th:src="@{/images/imad5.jpg}"width="200px" height="200px" alt="Tamil"><br>
			                			<h6><a th:href="@{/tamil}">Tamil Nadu</a></hh5>
	            	  			</button>
	          				</a>
					</tr>
            	</table>
          	 </div>
          </form>
    </body>
</html>