<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Restaurants of Delhi</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
	</head>
	
	<body>
		<h1 align ="center">Make Your Life Easier By Navigator</h1>
		
		<img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
					  
						<!--Home-->
						<li class="nav-item">
							<a class="nav-link active" href="#">Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>  
						
						<!--Covid-->
						<li class="nav-item">
							<a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
						</li>
						  
						<!--Google Map-->
						<li class="nav-item">
							<a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
						</li>
						
						<!--Back-->
						<li class="nav-item">
							<a class="nav-link" th:href="@{/restuarantsDelhi}">Back</a>
						</li>
						  
						<!--Logout-->    
                  	    <li class="nav-item">
                        	<a class="nav-link" th:href="@{/}">Logout</a>
                        </li>
					</ul>
				</div>     
			</div>
		</nav> 
		
		<br>
		
		<h3 align="center">Restaurants</h3>
		
		<div class="container">
			<table>
				<tr>
					<!--Montoo's Cafe-->
					<a href="https://www.zomato.com/ncr/mantoos-cafe-pandav-nagar-new-delhi">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/mantoos-cafe.jpg}" width="200px" height="200px" alt="Montoo's Cafe"><br>
							<h6>Montoo's Cafe</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Cocoberry-->
					<a href="https://www.dineout.co.in/delhi-restaurants/cocoberry-in-delhi-chain">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/cocoberry.jpg}" width="200px" height="200px" alt="Cocoberry"><br>
							<h6>Cocoberry</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--BTW-->
					<a href="http://www.btwindia.com/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/btw.jpg}" width="200px" height="200px" alt="BTW"><br>
							<h6>BTW</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Punjabi Janta Dhaba-->
					<a href="https://www.tripadvisor.in/Restaurant_Review-g304551-d7793870-Reviews-Punjabi_Janta_Dhaba-New_Delhi_National_Capital_Territory_of_Delhi.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/punjabi-janata-dhaba.jpg}" width="200px" height="200px" alt="Punjabi Janta Dhaba"><br>
							<h6>Punjabi Janta Dhaba</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Khan Chacha-->
					<a href="https://www.tripadvisor.in/Restaurant_Review-g304551-d4428618-Reviews-Khan_Chacha-New_Delhi_National_Capital_Territory_of_Delhi.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/khan-chacha.jpg}" width="200px" height="200px" alt="Khan Chacha"><br>
							<h6>Khan Chacha</h6>
						</button>
					</a>
				</tr>
				
				<br><br>
				
				<tr>
					<!--Berco's-->
					<a href="https://bercos.net.in/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/bercos.jpg}" width="200px" height="200px" alt="Berco's"><br>
							<h6>Berco's</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Warehouse Cafe-->
					<a href="https://www.warehousecafe.in/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/warehouse.jpg}" width="200px" height="200px" alt="Warehouse Cafe"><br>
							<h6>Warehouse Cafe</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Indian Grill Room-->
					<a href="https://indiangrillroom.in/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/grill-room.jpg}" width="200px" height="200px" alt="Indian Grill Room"><br>
							<h6>Indian Grill Room</h6>
						</button>
					</a>
				</tr>
					
					&nbsp;&nbsp;&nbsp;&nbsp;
								
				<tr>
					<!--The Barbeque Company-->
					<a href="https://thebbqcompany-noida.business.site/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/bbq-co.jpg}" width="200px" height="200px" alt="BBQ Co."><br>
							<h6>The Barbeque Company</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--United Coffee House Rewind-->
					<a href="https://www.eazydiner.com/delhi-ncr/united-coffee-house-dlf-mall-of-india-sector-18-639439">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/coffee-house.jpg}" width="200px" height="200px" alt="Coffee House"><br>
							<h6>United Coffee House Rewind</h6>
						</button>
					</a>
				</tr>
			</table>
		</div>
	</body>
</html>