<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Places of Punjab</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
</head>
     
<body align ="center">
	<h1 align ="center">Make Your Life Easier By Navigator</h1>
   
    <img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              
              <!--Home-->
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>

              <!--Covid-->
              <li class="nav-item">
                <a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
              </li>
              
              <!--Google Map-->
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
              </li>

              <!--Restaurants-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/restuarantsPb}">Restaurants</a>
              </li>
              
              <!--Back-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/navi}">Back</a>
              </li>
              
              <!--Logout-->    
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

          <br>
          
          <h2 align="center">Suggested Places To Visit</h2>
          
          <div class="container">
          	<table>
          		<tr>
		          	<!--Sri Harmandir Sahib-->
		          	<a href="http://sgpc.net/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
                			<img th:src="@{/images/harmandirsahib.jpg}" width="200px" height="200px" alt="Darbar Sahib"><br>
                			<h6>Sri Harmandir Sahib</h6>
              			</button>
					</a>
				</tr>
            
					&nbsp;&nbsp;&nbsp;&nbsp;
					
            	<tr>  
            		<!--Jallianwala Bagh-->
			    	<a href="https://amritsar.nic.in/tourist-place/jallian-wala-bagh/">  
              			<button class="btn btn-secondary my-2 my-sm-0" type="submit">
              				<img th:src="@{/images/jallianwalabagh.jpeg}" width="200px" height="200px" alt="Jallianwala Bagh"><br>
                			<h6>Jallianwala Bagh</h6>
              			</button>
					</a>
				</tr>
			
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Wagha Attari Border-->
				    <a href="https://amritsar.nic.in/tourist-place/wagah-border/">  
	              		<button class="btn btn-secondary my-2 my-sm-0" type="submit">
	              			<img th:src="@{/images/waghaborder.jpeg}" width="200px" height="200px" alt="Wagha Attari Border"><br>
	                		<h6>Wagha Attari Border</h6>
	              		</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Partition Museum-->
					<a href="https://www.partitionmuseum.org/">  
	              		<button class="btn btn-secondary my-2 my-sm-0" type="submit">
	              			<img th:src="@{/images/partitionmuseum.jpeg}" width="200px" height="200px" alt="Partition Museum"><br>
	                		<h6>Partition Museum</h6>
	              		</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--All Places of Punjab-->
					<a href="other">  
	              		<button class="btn btn-secondary my-2 my-sm-0" type="submit">
	              			<img th:src="@{/images/punjab_map.jpg}" width="200px" height="200px" alt="punjab"><br>
	                		<h6><a th:href="other">All Places</a></h6>
	              		</button>
					</a>
				</tr>
			</table>
          </div>
    </body>
</html>