<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Places in Delhi</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
</head>
     
<body align ="center">
	<h1 align ="center">Make Your Life Easier By Navigator</h1>
   
    <img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              
              <!--Home-->
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>

              <!--Covid-->
              <li class="nav-item">
                <a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
              </li>
              
              <!--Google Map-->
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
              </li>

              <!--Restaurants-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/restuarantsDelhi}">Restaurants</a>
              </li>
              
              <!--Back-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/navi}">Back</a>
              </li>
              
              <!--Logout-->    
              <li class="nav-item">
              	<a class="nav-link" th:href="@{/}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

          <br>
          
          <h2 align="center">Suggested Places To Visit</h2>
          
          <div class="container">
          	<table>
          		<tr>
		          	<!--India Gate-->
		          	<a href="https://dmnewdelhi.delhi.gov.in/tourist-place/india-gate/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
                			<img th:src="@{/images/india-gate.jpg}" width="200px" height="200px" alt="India Gate"><br>
                			<h6>India Gate</h6>
              			</button>
					</a>
				</tr>
            	
					&nbsp;&nbsp;&nbsp;&nbsp;
					
            	<tr>  
            		<!--Kingdom of Dreams-->
			    	<a href="https://www.holidify.com/places/gurgaon/kingdom-of-dreams-sightseeing-1913.html">  
              			<button class="btn btn-secondary my-2 my-sm-0" type="submit">
              				<img th:src="@{/images/kingdom.jpg}" width="200px" height="200px" alt="Kingdom of Dreams"><br>
                			<h6>Kingdom of Dreams</h6>
              			</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Snow World-->
				    <a href="http://snowworlddelhi.com/">  
	              		<button class="btn btn-secondary my-2 my-sm-0" type="submit">
	              			<img th:src="@{/images/snow-world.jpg}" width="200px" height="200px" alt="Snow World"><br>
	                		<h6>Snow World</h6>
	              		</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Gurudwaras in Delhi-->
					<a href="https://www.dsgmc.in/">  
	              		<button class="btn btn-secondary my-2 my-sm-0" type="submit">
	              			<img th:src="@{/images/bangla-sahib.jpg}" width="200px" height="200px" alt="Gurudwaras in Delhi"><br>
	                		<h6>Gurudwaras in Delhi</h6>
	              		</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--All Places in Delhi NCR-->
					<a href="otherDelhi.html">  
	              		<button class="btn btn-secondary my-2 my-sm-0" type="submit">
	              			<img th:src="@{/images/delhi_map.jpg}" width="200px" height="200px" alt="Delhi"><br>
	                		<h6><a th:href="otherDelhi">All Places</a></h6>
	              		</button>
					</a>
				</tr>
			</table>
          </div>
    </body>
</html>