<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="ISO-8859-1">
     <title>Delhi</title>
     <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
</head>
     <body align ="center">
  
    <h1 align ="center">Make Your Life Easier By Navigator</h1>
   
      <img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  
                  <!--Home-->
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>

                  <!--Covid-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
                  </li>
                  
                  <!--Google Map-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
                  </li>

                  <!--Restaurants-->
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/restaurantsDelhi}">Restaurants</a>
                  </li>
                  
                  <!--Back-->
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/placesDelhi}">Back</a>
                  </li>
                  
                  <!--Logout-->    
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Logout</a>
                  </li>
                 </ul>
              </div>
            </div>
          </nav>

          <br>
          
          <h3 align="center">Places To Visit in Delhi</h3>
          
          <div class="container">
          	<table>
          		<tr>
          			<!--Akshardham Temple-->
					<a href="https://akshardham.com/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		                	<img th:src="@{/images/akshardham.jpg}" width="200px" height="200px" alt="Akshardham Temple"><br>
		                	<h6>Akshardham Temple</h6>
		              	</button>
					</a>
          		</tr>
	            
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Red Fort-->
					<a href="https://delhitourism.gov.in/delhitourism/tourist_place/red_fort.jsp">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/red-fort.jpg}" width="200px" height="200px" alt="Red Fort"><br>
		                	<h6>Red Fort</h6>
		              	</button>
					</a>
	            </tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Connaught Place-->
		            <a href="https://delhitourism.gov.in/delhitourism/shopping/connaught_place.jsp">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/cp.jpg}" width="200px" height="200px" alt="Connaught Place"><br>
		                	<h6>Connaught Place</h6>
		              	</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Dilli Haat-->
					<a href="https://delhitourism.gov.in/delhitourism/tourist_place/dilli_haat_INA.jsp">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/dilli-haat.jpg}" width="200px" height="200px" alt="Dilli Haat"><br>
		                	<h6>Dilli Haat</h6>
		              	</button>
					</a>
				</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<br><br>
	          	
	          	<tr>
	          		<!--Fun N Food Village-->
		            <a href="https://www.funnfood.com/delhi/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/fun-n-food.jpg}" width="200px" height="200px" alt="Fun N Food Village"><br>
		                	<h6>Fun N Food Village</h6>
		              	</button>
					</a>
	          	</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	          	<tr>
	          		<!--Qutab Minar-->
		            <a href="https://delhitourism.gov.in/delhitourism/tourist_place/qutab_minar.jsp">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/qutab-minar.jpg}" width="200px" height="200px" alt="Qutab Minar"><br>
		                	<h6>Qutab Minar</h6>
		              	</button>
					</a>
	          	</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	          	<tr>
	          		<!--Appu Ghar-->
		            <a href="https://www.holidify.com/places/gurgaon/appu-ghar-sightseeing-124758.html">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/appu-ghar.jpg}" width="200px" height="200px" alt="Appu Ghar"><br>
		                	<h6>Appu Ghar</h6>
		              	</button>
					</a>
	          	</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	          	<tr>
	          		<!--Damdama Lake-->
					<a href="http://damdamalake.com/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/damdama-lake.jpg}" width="200px" height="200px" alt="Damdama Lake"><br>
		                	<h6>Damdama Lake</h6>
		              	</button>
					</a>
	          	</tr>
	          
				<br><br>

	            <tr>
	            	<!--Cyber Hub-->
		            <a href="https://www.dlfcyberhub.com/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/cyber-hub.jpg}" width="200px" height="200px" alt="Cyber Hub"><br>
		                	<h6>Cyber Hub</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--National Rail Museum-->
		            <a href="https://delhitourism.gov.in/delhitourism/entertainment/national_rail_museum.jsp">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/national-rail-museum.jpg}" width="200px" height="200px" alt="National Rail Museum"><br>
		                	<h6>National Rail Museum</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Jama Masjid-->
		            <a href="https://delhitourism.gov.in/delhitourism/tourist_place/jama_masjid.jsp">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/jama-masjid.jpg}" width="200px" height="200px" alt="Jama Masjid"><br>
		                	<h6>Jama Masjid</h6>
		              	</button>
					</a>
	            </tr>

					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Rashtrapati Bhavan-->
					<a href="https://rashtrapatisachivalaya.gov.in/rbtour/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/Rashtrapati-Bhavan.jpg}" width="200px" height="200px" alt="Rashtrapati Bhavan"><br>
		                	<h6>Rashtrapati Bhavan</h6>
		              	</button>
					</a>
	            </tr>
          	</table>
          </div>
    </body>
</html>