<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Restaurants of Punjab</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
	</head>
	
	<body>
		<h1 align ="center">Make Your Life Easier By Navigator</h1>
		
		<img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
					  
						<!--Home-->
						<li class="nav-item">
							<a class="nav-link active" href="#">Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>  
						
						<!--Covid-->
						<li class="nav-item">
							<a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
						</li>
						  
						<!--Google Map-->
						<li class="nav-item">
							<a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
						</li>
						
						<!--Back-->
		                <li class="nav-item">
		                   <a class="nav-link" th:href="@{/restuarantsPb}">Back</a>
		                </li>
						  
						<!--Logout-->    
		                <li class="nav-item">
		                   <a class="nav-link" th:href="@{/}">Logout</a>
		                </li>
					</ul>
				</div>     
			</div>
		</nav> 
		
		<br>
		
		<h3 align="center">Restaurants</h3>
		
		<div class="container">
			<table>
				<tr>
					<!--Shahi rasoi-->
					<a href="https://www.tripadvisor.in/Restaurant_Review-g303884-d19436571-Reviews-Shahi_Rasoi-Amritsar_Amritsar_District_Punjab.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/shahi-rasoi.jpg}" width="200px" height="200px" alt="Shahi rasoi"><br>
							<h6>Shahi rasoi</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Wah ji Wah-->
					<a href="https://www.tripadvisor.in/Restaurant_Review-g303884-d8261318-Reviews-Wah_Ji_Wah-Amritsar_Amritsar_District_Punjab.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/wah-ji-wah.jpg}" width="200px" height="200px" alt="Wah ji Wah"><br>
							<h6>Wah ji Wah</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Haveli-->
					<a href="https://www.haveli.co/jalandhar/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/haveli.jpg}" width="200px" height="200px" alt="Haveli"><br>
							<h6>Haveli</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Peddlers-->
					<a href="https://www.zomato.com/jalandhar/peddlers-2-model-town">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/peddlers.jpg}" width="200px" height="200px" alt="Peddlers"><br>
							<h6>Peddlers</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<br><br>
				
				<tr>
					<!--Sagar Ratna-->
					<a href="https://www.zomato.com/jalandhar/sagar-ratna-1-shastri-nagar/menu">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/sagar-ratna.jpg}" width="200px" height="200px" alt="Sagar Ratna"><br>
							<h6>Sagar Ratna</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Zaffrani Zaika-->
					<a href="https://www.zomato.com/ludhiana/zaffrani-zaika-pau">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/Zaffrani-Zaika.jpg}" width="200px" height="200px" alt="Zaffrani Zaika"><br>
							<h6>Zaffrani Zaika</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Unplugged Cafe N Bar-->
					<a href="https://www.eazydiner.com/ludhiana/unplugged-cafe-n-bar-sarabha-nagar-ludhiana-674123">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/unplugged-cafe-n-bar.jpg}" width="200px" height="200px" alt="Unplugged Cafe N Bar"><br>
							<h6>Unplugged Cafe N Bar</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Bistro 226-->
					<a href="https://www.dineout.co.in/ludhiana/bistro-226-civil-lines-central-ludhiana-64012/menu">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/Bistro-226.jpg}" width="200px" height="200px" alt="Bistro 226"><br>
							<h6>Bistro 226</h6>
						</button>
					</a>
				</tr>
				
				<br><br>
				
				<tr>
					<!--Patiala House-->
					<a href="https://restaurant-guru.in/PATIALA-HOUSE-Patiala/menu">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/patiala-house.jpg}" width="200px" height="200px" alt="Patiala House"><br>
							<h6>Patiala House</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Gastro Eatery Hub-->
					<a href="https://www.swiggy.com/restaurants/gastro-eatery-hub-model-town-patiala-city-patiala-86453">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/gastro.jpg}" width="200px" height="200px" alt="Gastro Eatery Hub"><br>
							<h6>Gastro Eatery Hub</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Doaba Chick Chick House-->
					<a href="https://restaurant-guru.in/Doaba-Chick-Chick-House-Kapurthala/menu">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/doaba-chick-chick-house.jpg}" width="200px" height="200px" alt="Doaba Chick Chick House"><br>
							<h6>Doaba Chick Chick House</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Moti Mahal Delux-->
					<a href="https://restaurant-guru.in/Moti-mahal-Delux-Bathinda">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/moti-mahal.jpg}" width="200px" height="200px" alt="Moti Mahal Delux"><br>
							<h6>Moti Mahal Delux</h6>
						</button>
					</a>
				</tr>
				
				<br><br>
				
				<tr>
					<!--Amrik Dhaba Branch-->
					<a href="https://www.tripadvisor.in/Restaurant_Review-g1023971-d20096096-Reviews-Amrik_Dhaba_Branch-Bathinda_Bathindar_District_Punjab.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/amrik-dhaba.jpg}" width="200px" height="200px" alt="Amrik Dhaba Branch"><br>
							<h6>Amrik Dhaba Branch</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Barbeque Nation-->
					<a href="https://www.barbequenation.com/restaurants/chandigarh/sector-26">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/Barbeque_Nation.jpg}" width="200px" height="200px" alt="Barbeque Nation"><br>
							<h6>Barbeque Nation</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Hard Rock Cafe-->
					<a href="https://www.hardrockcafe.com/location/chandigarh/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/hard-rock-cafe.jpg}" width="200px" height="200px" alt="Hard Rock Cafe"><br>
							<h6>Hard Rock Cafe</h6>
						</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Cafe JC-->
					<a href="https://restaurant-guru.in/J-C-Cafe-Chandigarh">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/cafe-jc.jpg}" width="200px" height="200px" alt="Cafe JC"><br>
							<h6>Cafe JC</h6>
						</button>
					</a>
				</tr>
				
				<br><br>
				
				<tr>
					<!--Kathi Junction-->
					<a href="https://www.tripadvisor.in/Restaurant_Review-g297596-d5812248-Reviews-Kathi_Junction-Chandigarh.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/kathi-junction.jpg}" width="200px" height="200px" alt="Kathi Junction"><br>
							<h6>Kathi Junction</h6>
						</button>
					</a>
				</tr>
			</table>
		</div>
	</body>
</html>