<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="ISO-8859-1">
     <title>Punjab</title>
     <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
</head>
     <body align ="center">
  
    <h1 align ="center">Make Your Life Easier By Navigator</h1>
   
      <img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  
                  <!--Home-->
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>

                  <!--Covid-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
                  </li>
                  
                  <!--Google Map-->
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
                  </li>
                  
                  <!--Restaurants-->
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/restaurantsPb}">Restaurants</a>
                  </li>
                  
                  <!--Back-->
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/placesPb}">Back</a>
                  </li>
                  
                  <!--Logout-->    
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <br>
          
          <h3 align="center">Places To Visit in Punjab</h3>
          
          <div class="container">
          	<table>
          		<tr>
          			<!--Durgian Templee-->
					<a href="https://www.durgianamandir.com/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		                	<img th:src="@{/images/durgianamandir.jpeg}" width="200px" height="200px" alt="Durgian Temple"><br>
		                	<h6>Durgian Temple</h6>
		              	</button>
					</a>
          		</tr>
	            
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Khalsa College-->
					<a href="https://khalsacollege.edu.in/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/khalsacolloge.jpeg}" width="200px" height="200px" alt="Khalsa College"><br>
		                	<h6>Khalsa College</h6>
		              	</button>
					</a>
	            </tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Keshgarh Sahib-->
		            <a href="https://rupnagar.nic.in/tourist-place/sri-keshgarh-sahib-sri-anandpur-sahib/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/anandpursahib.jpeg}" width="200px" height="200px" alt="Keshgarh Sahib"><br>
		                	<h6>Keshgarh Sahib</h6>
		              	</button>
					</a>
				</tr>
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Virasat-e-Khalsa-->
					<a href="https://rupnagar.nic.in/tourist-place/virasat-e-khalsa/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/virast-e-khalsa.jpeg}" width="200px" height="200px" alt="Virasat-e-Khalsa"><br>
		                	<h6>Virasat-e-Khalsa</h6>
		              	</button>
					</a>
				</tr>
	          
				<br><br>
	          	
	          	<tr>
	          		<!--Devi Talab Mandir-->
		            <a href="https://devitalabmandir.com/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/devitalabmandir.jpeg}" width="200px" height="200px" alt="Devi Talab Mandir"><br>
		                	<h6>Devi Talab Mandir</h6>
		              	</button>
					</a>
	          	</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	          	<tr>
	          		<!--Jang-e-Azadi Memorial-->
		            <a href="https://jalandhar.nic.in/tourist-place/jang-e-azadi-memorial/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/jang-e-azadimemorial.jpeg}" width="200px" height="200px" alt="Jang-e-Azadi"><br>
		                	<h6>Jang-e-Azadi Memorial</h6>
		              	</button>
					</a>
	          	</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	          	<tr>
	          		<!--Punjab Agriculture University-->
		            <a href="https://www.pau.edu/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/pau.jpeg}" width="200px" height="200px" alt="PAU"><br>
		                	<h6>Punjab Agriculture University</h6>
		              	</button>
					</a>
	          	</tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	          	<tr>
	          		<!--Phillaur Fort-->
					<a href="http://www.punjabpoliceacademy.com/maharaja-ranjit-singh-fort-phillaur">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/phillurfort.jpeg}" width="200px" height="200px" alt="Phillur Fort"><br>
		                	<h6>Phillaur Fort</h6>
		              	</button>
					</a>
	          	</tr>
	          
				<br><br>

	            <tr>
	            	<!--National Institute of Sports-->
		            <a href="https://nsnis.org/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/nisi.jpeg}" width="200px" height="200px" alt="NISI"><br>
		                	<h6>National Institute of Sports</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Punjabi Univerity-->
		            <a href="http://www.punjabiuniversity.ac.in/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/punjabiuniversity.jpeg}" width="200px" height="200px" alt="Punjabi University"><br>
		                	<h6>Punjabi Univerity</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Moorish Mosque-->
		            <a href="https://kapurthala.gov.in/tourist-place/dhauli-8/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/moorishmosque.jpeg}" width="200px" height="200px" alt="Moorish Mosque"><br>
		                	<h6>Moorish Mosque</h6>
		              	</button>
					</a>
	            </tr>

					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Bathina Fort-->
					<a href="https://www.livehistoryindia.com/story/photo-essays/bathindas-historic-fort">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/bathindafort.jpeg}" width="200px" height="200px" alt="Bathinda Fort"><br>
		                	<h6>Bathina Fort</h6>
		              	</button>
					</a>
	            </tr>
	          
				<br><br>
	            
	            <tr>
	            	<!--Railway Coach Factory-->
					<a href="https://rcf.indianrailways.gov.in/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/rcf.jpeg}" width="200px" height="200px" alt="RCF"><br>
		                	<h6>Railway Coach Factory</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Sainik School-->
		            <a href="https://www.sskapurthala.com/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/sainikschool.jpeg}" width="200px" height="200px" alt="Sainik School"><br>
		                	<h6>Sainik School</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Rock Garden-->
		            <a href="https://chandigarhdistrict.nic.in/tourist-place/rock-garden/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/rockgarden.jpeg}" width="200px" height="200px" alt="Rock Garden"><br>
		                	<h6>Rock Garden</h6>
		              	</button>
					</a>
	            </tr>
	          
					&nbsp;&nbsp;&nbsp;&nbsp;
					
	            <tr>
	            	<!--Rose Garden-->
		            <a href="https://traveltriangle.com/blog/rose-garden-in-chandigarh/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/rosegarden.jpeg}" width="200px" height="200px" alt="Rose Garden"><br>
		                	<h6>Rose Garden</h6>
		              	</button>
					</a>
	            </tr>
	          
				<br><br>
	          
	            <tr>
	            	<!--Punjab University-->
					<a href="https://puchd.ac.in/">  
		              	<button class="btn btn-secondary my-2 my-sm-0" type="submit">
		              		<img th:src="@{/images/pu.jpeg}" width="200px" height="200px" alt="PU"><br>
		                	<h6>Punjab University</h6>
		              	</button>
					</a>
	            </tr>
          	</table>
          </div>
    </body>
</html>