<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Restaurants of Punjab</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/simplex/bootstrap.min.css"/>
	</head>
	
	<body>
		<h1 align ="center">Make Your Life Easier By Navigator</h1>
		
		<img th:src="@{/images/imad2.jpg}" width="100%" height="70%">
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" onclick="">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
					  
						<!--Home-->
						<li class="nav-item">
							<a class="nav-link active" href="#">Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>  
						
						<!--Covid-->
						<li class="nav-item">
							<a class="nav-link" href="https://www.mohfw.gov.in/">Covid19 Guidelines</a>
						</li>
						  
						<!--Google Map-->
						<li class="nav-item">
							<a class="nav-link" href="https://www.google.co.in/maps/place/India/@18.2704539,64.8520339,3.36z/data=!4m13!1m7!3m6!1s0x30635ff06b92b791:0xd78c4fa1854213a6!2sIndia!3b1!8m2!3d20.593684!4d78.96288!3m4!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288">Map</a>
						</li>
						
						<!--Restaurants-->
						<li class="nav-item">
							<a class="nav-link" th:href="@{/placesPb}">Back</a>
						</li>
						  
						<!--Logout-->    
	                    <li class="nav-item">
	                    	<a class="nav-link" th:href="@{/}">Logout</a>
	                    </li>
					</ul>
				</div>     
			</div>
		</nav> 
		
		<br>
		
		<h3 align="center">Suggested Restaurants</h3>
		
		<div class="container">
			<table>
				<tr>
					<!--Kesar da dhaba-->
					<a href="http://www.kesardadhaba.com/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/kesar-da-dhaba.jpg}" width="200px" height="200px" alt="Kesar Da Dhaba"><br>
							<h6>Kesar Da Dhaba</h6>
						</button>
					</a>
				</tr>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Bharawan da dhaba-->
					<a href="https://www.swiggy.com/restaurants/bharawan-da-dhaba-town-hall-katra-ahluwalia-amritsar-79924">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/bharawan-da-dhaba.jpg}" width="200px" height="200px" alt="Bharawan Da Dhaba"><br>
							<h6>Bharawan Da Dhaba</h6>
						</button>
					</a>
				</tr>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Shahi Qila-->
					<a href="http://www.wagahshahiqila.com/">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/shahi-qila.jpg}" width="200px" height="200px" alt="Shahi Qila"><br>
							<h6>Shahi Qila</h6>
						</button>
					</a>
				</tr>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--Zio-Happy Craving-->
					<a href="https://www.eazydiner.com/amritsar/zio-happy-cravings-ranjit-avenue-amritsar-674231">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/zio-happy-cravings.jpg}" width="200px" height="200px" alt="Zio-Happy Craving"><br>
							<h6>Zio-Happy Craving</h6>
						</button>
					</a>
				</tr>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
					
				<tr>
					<!--All Restaurants in Punjab-->
					<a href="otherRestaurants.html">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">
							<img th:src="@{/images/food.jpg}" width="200px" height="200px" alt="Restaurants"><br>
							<h6><a th:href="otherRestaurants">All Restaurants</a></h6>
						</button>
					</a>
				</tr>
			</table>
		</div>
	</body>
</html>